<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    <h1>Provide your details </h1>
    <form action="/home" method="post">
    <label for="First name">
        <input type="text" name="firstname" placeholder="enter name" required></input>
    </label><br>
     <label for="Last name">
        <input type="text" name="lastname" placeholder="enter name" required></input>
    </label>
    <button type="submit">Send Details</button>
    </form>
</body>
</html>